/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #474747;; color: #FFF; text-shadow: none; }
::selection { background: #474747; color: #FFF; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* Library Styles */
/*
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-state-disabled { cursor: default !important; }
.ui-icon { display:none; }

.ui-accordion {  }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; padding:0.25em 0; border-top:solid 1px #222; border-bottom:solid 1px #222; }
.ui-accordion .ui-accordion-header:focus { outline: 0; }
.ui-accordion .ui-accordion-header:hover { background:#EEE; }
.ui-accordion .ui-accordion-content { position: relative; top: 1px; margin-top: -2px; margin-bottom: 2px; padding:1em 0; overflow: auto; display: none; }
.ui-accordion .ui-accordion-content-active { display: block; }
*/
/* Primary Styles */

html, body { min-height:100%; }
body { font-family: 'PT Serif', serif; font-size:0.9em; background:#474747; min-width:320px; }
p, h3 { margin:0 0 1em; }
h1 { font-size:3em; margin:0; }
h2 { margin:1em 0; font-size:1.5em; padding:0.25em 0; border-bottom:solid 1px #222; }
h3 { font-size:1.17em; }
#main, footer { padding:2em 4em; }
header {  padding:0 4em; background:#DDE5E8; color:#474747; }
header .content { position:relative; padding:2em 0; /*background:#DDE5E8 url(../img/initials.png) no-repeat right 1em;*/ }
header strong { margin-left: 200px; font-size:1.5em; }
header img { position:absolute; right:0; top: 1em; }
header .imgborder { position: absolute; right:38px; top:1em; width:110px; height:110px; border:solid 1px #222; }
footer { background:#474747; color:#DBF0F5; }
blockquote { clear:both; margin:1em 0; padding:0 4em; text-align:justify; font-size:1.5em; font-weight:bold; }
blockquote.oneline { text-align:center; }
blockquote.withsidebar {  }

.content { width:960px; margin:0 auto; overflow: hidden; }
.maincol { float:left; width:585px; }
.sidebar { float: right; height:100%; width:300px; margin:0 0 1em 50px; padding:0 0 0 20px; border-left: solid 1px #222; }
.sidebar h3 {  }
.sidebar img { width:45%; }
.sample { width:75%; padding: 2em; margin:1em auto; border:solid 1px #CCC; }
.boxes { width:75%; margin:4% auto 0; padding:0; text-align:center; }
.boxes > li { display:block; float:left; width:43%; height:8em; margin-bottom:4%; padding:1em; border:solid 1px #CCC; }
.boxes > li.first { clear:left; margin-right:4%; }
.boxes h4 { margin:0 0 1em; }
.boxes li ul { list-style-type:disc; text-align:left; }
.boxes li.first ul { padding-left:20px; }
.boxes li.first li { float:left; width:50%; }

#main { background:#FFF; }
#pages { position:relative; height:65em; padding:2em 0; margin:2em 0; border-bottom:solid 1px #CCC; border-top:solid 1px #CCC; }
#pages nav { padding-left:3%; border-bottom:solid 1px #CCC; }
#pages nav li { float:left; margin-left:1em; /*padding-left:1em; border-left:solid 1px #CCC;*/ }
#pages nav li:first-child { margin-left:0; /*border-left:none;*/ }
#pages nav li a { display: block; padding: 0.5em 1em; text-decoration: none; }
#pages nav li a, #pages nav li a:visited #pages nav li a:hover { color:#474747; }
#pages nav li a.current { background: #474747; color: #DBF0F5; }
nav .pageLink { background-color:#DDE5E8; border-radius: 8px 8px 0 0; }
.pageContainer { position:absolute; width: 4800px; }
.pageContainer section { width:960px; float: left; }
.nextPage, .prevPage { cursor: pointer; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select:none; }
.nextPage.disabled, .prevPage.disabled { color:#CCC; cursor: default; }

footer .maincol { text-align:justify; font-size: 1.25em; }
footer .sidebar { border-color: #CCC; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
